.card{
    max-width: 600px;
}
.photo{
    width: 95px;
    height: 95px;
    object-fit: cover;
}
.profile-image-client{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
#comment {
    border: none;
    /* border-radius: 10px; */
    /* padding: 10px; */
    resize: none;
    width: 100%;
    outline: none;
}
#floatingPlaintextInput {
    border: none;
    /* border-radius: 10px; */
    /* padding: 10px; */
    resize: none;
    width: 100%;
    outline: none;
}