.card-service {
    width: 350px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img {
    height: 250px;
    background-color: rgb(151, 151, 151);
    object-fit: cover;
}

.img-container {
    overflow: hidden;
    object-fit: cover;
}