
:root {
    --azul: #8698C4;
    --azul-oscuro-hover: #414d6d;
    --celeste: #E1E5F0;
    --gris: #F5F5F5;
    --plomo: #EEEEEE;
    --plomo-oscuro: #88898D;
    --negro: #393C3F;
    --blanco: #F5F5F5;
}

.footer {
    color: var(--negro); 
    display: grid;
    grid-template-areas:
        "direction"
        "contact"
        "new-team"
        "team";
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-color: var(--azul-oscuro-hover); 
}

.container-bento {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "direction"
        "contact"
        "new-team"
        "team";
    gap: 30px;
}

.div-footer {
    height: 350px;
    border-radius: 20px;
    background-color: var(--blanco); 
    border: var(--negro) 3px solid; 
    box-shadow: var(--negro);
}

.div-img {
    overflow: hidden;
    height: 200px; 
    border-radius: 10px;
}

.div-img img {
    width: 100%;
    height: 100%; /* Establece la altura para forzar que la imagen se ajuste al contenedor */
    object-fit: cover; /* Esto asegurará que la imagen se ajuste y recorte */
}

.div-direction {
    grid-area: direction;
    backdrop-filter: blur(10px);
    padding: 20px;
    overflow: hidden;
    
}

.footer-input {
    background: var(--celeste);
    transition: 0.5s ease-out;
    border: none;
}

.footer-inputs {
    flex-direction: column;
    /* max-width: 600px;
    justify-content: 0 auto; */
}

#email{
    width: 70%;
    max-width: 300px;
}

#message {
    border: none;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    width: 100%;
    height: 100px;
    outline: none;
}

.div-contact {
    grid-area: contact;
    backdrop-filter: blur(10px);
    padding: 20px;
    height: auto;
}

.div-new-team {
    grid-area: new-team;
    backdrop-filter: blur(10px);
    padding: 20px;
}

.div-team {
    grid-area: team;
    backdrop-filter: blur(10px);
    background-color: rgb(39, 39, 39);
    overflow: hidden;
}

.div-caro {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.i-footer {
    font-size: 40px;
    color: white;
    transition: 0.2s ease-out;
}

.i-insta:hover {
    color: #f86969;
    transform: scale(1.2);
}

.i-face:hover {
    color: #008afc;
    transform: scale(1.2);
}

.i-link:hover {
    color: #0ca2f2;
    transform: scale(1.2);
}

.caro-item {
    height: 100%;
}

.title-team {
    position: absolute;
    z-index: 10;
}

.bg-profiles {
    background-position: bottom;
    background-size: cover;
    height: 350px;
    position: relative;
}



.profile-details {
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 5px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.363);
}

@media (min-width: 1024px) {
    .container-bento {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr) 0;
        grid-column-gap: 20px; /* Aumenta el espacio horizontal entre columnas */
        grid-row-gap: 20px;    /* Aumenta el espacio vertical entre filas */
        /* padding: 10px 30px; */
    }

    .div1 { 
        grid-area: 1 / 1 / 3 / 6; /* Ocupa toda la fila superior (2 filas y 5 columnas) */
        padding: 10px;
        height: auto;
        padding: 10px 70px;
    }

    .div2 { 
        grid-area: 3 / 1 / 5 / 4; /* Ocupa las 3 primeras columnas en la segunda mitad */
        background-color: var(--celeste);
        color: var(--negro);
        margin-top: 20px
    }

    .div3 { 
        grid-area: 3 / 4 / 5 / 6; /* Ocupa las 2 últimas columnas en la segunda mitad */
        color: var(--blanco);
        margin-top: 20px
    }

    .div-new-team {
        text-align: left;
    }

}
