.container {
    background-color: rgba(0, 0, 0, 0.363);
}

input {
    background: transparent;
    border: none;
}

.text-color {
    color: var(--negro)
}

.container-form {
    /* background-color: #3498db; */
    height: 100%;
    width: 100%;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.button-search-filters {
    transition: 0.5s;
    border: none;
    background: var(--azul);
    color: white;
    border-radius: 30px;
}

.button-search-filters:hover {
    transform: scale(1.1);
    background-color: var(--azul-oscuro-hover);
}

.input-1 {
    flex: 1;
}

.input-2 {
    flex: 0.8;
}

.input-2 input {
    overflow: hidden;
}

.container-jumbotron {
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
}

#location::placeholder,
#titleOrName::placeholder {
    color: rgb(208, 201, 201);
    opacity: 1;
    font-weight: 400;
}