.services-population {
    color: var(--negro);
    background-color: var(--celeste);
    border-radius: 40px;
    font-weight: bold;
    padding: 10px 0px;
    margin-bottom: 30px;
}

.list-services {
    max-width: 1200px;
    margin: 0 auto;
}

.slick-slide {
    padding: 0 15px;
}

.slick-list {
    margin: 0 -15px;
}

.list-card-div {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container-img-def img {
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.slick-prev:before,
.slick-next:before {
    content: "<";
    color: var(--negro) important !;
    font-weight: 700
}

.div-desc {
    padding: 10px;
}