nav {
    position: sticky;
    width: 100%;
    top: 0;
}

a {
    /* border-bottom: none; */
    text-decoration: none;
}

input {
    outline: none;
}


select {
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
}