.inputs-new-post, .textarea-new-post {
    width: 300px;
    padding: 10px;
    /* border: none; */
}

.textarea-new-post {
    width: 300px;
    height: 100px;
    resize: none;
    outline: none;
}

.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(74, 159, 185);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.file-input {
    display: none;
}