.password-form-container {
    max-width: 450px;
    background-color: var(--celeste);
    flex-grow: 1;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(50, 58, 115, 0.1);
}

.btn-password {
    background-color: var(--azul);
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-password:hover {
    background-color: var(--azul-oscuro-hover);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.btn-password:hover {
    color: var(--blanco);
    /* Cambia el color del texto a un tono celeste */
}