.card{
    max-width: 600px;
}
.photo{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.profile-image-client{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.text-postcard{
    color: var(--azul);
}
#comment {
    border: none;
    resize: none;
    width: 100%;
    outline: none;
}
#floatingPlaintextInput {
    border: none;
    resize: none;
    width: 100%;
    outline: none;
}
.btn-posthistory {
    background-color: var(--azul);
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}
.btn-posthistory:hover {
    background-color: var(--azul-oscuro-hover);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.btn-posthistory:hover {
    color: var(--blanco);
    /* Cambia el color del texto a un tono celeste */
}