.container-jumbotron {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
    justify-content: center;
}

.input-1,
.input-2 {
    flex: 1;
}

.input-1 input,
.input-2 input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.input-1,
.input-2 {
    display: flex;
    align-items: center;
}

.button-search-filters {
    transition: 0.5s;
    border: none;
    background: var(--azul);
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
}

.button-search-filters:hover {
    transform: scale(1.1);
    background-color: var(--azul-oscuro-hover);
}

.container-jumbotron {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding-bottom: 100px;
    padding-top: 140px;
}

/* Media query for mobile */
@media (max-width: 768px) {
    .container-jumbotron {
        flex-direction: column;
        gap: 20px;
    }

    .input-1,
    .input-2 {
        flex: 1;
        justify-content: center;
        width: 100%;
    }

    .button-search-filters {
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    .header {
        padding-bottom: 40px;
        padding-top: 100px;
    }

    .first-img, .second-img {
        width: 100%;
        height: 250px; /* Ajusta el tamaño según tus necesidades */
        object-fit: cover;
    }
}